.button {
  border: 1px solid;
  box-shadow: 0 1px 1px 2px rgba(0.5, 0.5, 0.5, 0.05);
  min-width: 4rem;
  cursor: pointer;
}

/* States */

.button:active {
  filter: brightness(0.9);
}

@media (pointer: fine) {
  .button:active,
  .button:hover {
    box-shadow: 0 1px 2px 3px rgba(0.5, 0.5, 0.5, 0.1);
  }
}

.button:disabled {
  background-color: #ddd;
  border-color: #888;
  color: #888;
}

/* Sizes */

.button.medium {
  font-size: 1rem;
  border-radius: .75rem;
  padding: .75rem;
}

.button.small {
  font-size: 0.8rem;
  border-radius: 8px;
  padding: .5rem;
}

.button.fullWidth {
  display: block;
  width: 100%;
}

/* Types */

.button.white {
  background-color: #fff;
  border-color: #000;
  color: #000;
}

.button.white_blue {
  background-color: #fff;
  border-color: #48f;
  color: #48f;
}

.button.blue {
  background-color: #48f;
  border-color: #000;
  color: #fff;
}
