.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  background-color: #f0f8ff;
  border-top: 1px solid #cdd;
  text-align: center;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  height: 4rem;
}

.footer > * {
  margin: 0 .75rem;
}
