.menu {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  margin: 0 auto;
  overflow: auto;
  padding: 1rem 1rem;
}

.menu h1.menu-title {
  margin-top: 0;
  text-align: center;
}

@media (min-width: 768px) {
  .menu {
    max-width: 50%;
  }
}

.menu-description {
  text-align: left;
  margin: 0;
}

.menu-actions {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
}

.menu-actions > *:not(:first-child) {
  margin-top: .5rem;
}

.menu-actions > *:not(:last-child) {
  margin-bottom: .5rem;
}
