.app {
  display: flex;
  align-items: stretch;
  flex-direction: column;
  text-align: center;
  margin: auto;
}

@media(orientation: landscape) {
  .app {
    width: 50vw;
  }
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.action {
  border: 1px solid black;
  border-radius: 10px;
  width: 90%;
  margin: 10px auto;
  padding: 10px;
  cursor: pointer;
}

.action:hover {
  color: blue;
}
